.cHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.cLogo{
    display: flex;
    align-items: center;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.img-icon{
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    .cHeader{
        padding: 10px;
    }
}